<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="    ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dentist Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Users", new { area = "Users" }, null)</li>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("AllDentist", "AllDentist", "Dentist", new { area = "Dentist" }, null)</li>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                           <li>@Html.ActionLink("Admin", "AllUsers", "Admin", new { area = "Admin" }, null)</li>
                    }

                     @if (this.User.IsInRole("Dentist"))
                     {
                            <li>@Html.ActionLink("Dentist", "Index", "Dentist", new { area = "Dentist" }, null)</li>
                     }
                   

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <section id="contact" class="contact-us">
                <div class="info">

                    <div class="address">
                        <h5>Our Address</h5>
                        <p>500 Terry Francois Street</p>
                        <p>New York, CA 94158</p>
                        <p>dentalclinic@gmail.com \\ Tel: 123-456-7890</p>
                    </div>

                    <div class="hours">
                        <h5>Opening Hours</h5>
                        <p>Monday - Friday 9AM - 7PM</p>
                        <p>Saturday 9AM - 2MP</p>
                    </div>

                </div>
            </section>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
